.expect{
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: space-between;
    
  }

  .h3{
    font-style: 50px;
  }
  
  .expectTitle{
    flex: 1;
    margin: 20px;
    margin-top: 5px;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.0;
    font-size: 20px;
  }
  .chartTitle{
    font-style: 20px;
  }